*, html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    
}

#contenido {
    background-color: #F2CCC3 !important;
}

#navigation {
    background-color: rgb(71, 116, 101) !important;
    
}

nav a {
    color: white !important;
}


div {
    /*border: solid 1px red;*/
    
}

#iconos-main {
    height: 100%;
    padding: 3em;
}
#iconos-main i {
    font-size: 150px;
    padding-top: 0.5em;
    
}

#iconos-main p {
    margin-top: 1em;
}

#iconos-main div {
    height: 100%;
    
}

#iconos-main i{
    margin-right: 10px;
    
}

#galeria-productos {
    height: 100%;
}

#galeria-productos div{
    height: 100%;
}

footer {
    height: 100%;
    /*border: 1px solid blue;*/
    background-color: #F48498;
}

footer div{
    height: 100%;
    color: #FFE6E8;
}

footer i {
    font-size: 4em;
    color: #FFE6E8;
}

#cards1 {
    height: 100%;
}

#cards1>div{
    
    /*background-color: blueviolet;*/
}

#cards2 {
    height: 100%;
}

#cards2>div{
    
    /*background-color: blueviolet;*/
}

#modal-body-text label{
    color: green;
}

