*, html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    
}

nav {
    background-color: rgb(71, 116, 101);
    
}

nav a {
    color: white;
}


div {
    border: solid 1px red;
    
}

#iconos-main {
    height: 100%;
}

#iconos-main div {
    height: 100%;
}

#galeria-productos {
    height: 100%;
}

#galeria-productos div{
    height: 100%;
}

footer {
    height: 100%;
    border: 1px solid blue;
}

footer div{
    height: 50%;
}

#cards1 {
    height: 100%;
}

#cards1>div{
    
    background-color: blueviolet;
}

#cards2 {
    height: 100%;
}

#cards2>div{
    
    background-color: blueviolet;
}


